<app-accordion>
  <div header class="header">
    <div title class="title">
      Titulo del header 1
    </div>
    <div description class="description">
      descripción del header
    </div>
  </div>
  Holaaaaaaa
</app-accordion>

<app-accordion>
  <div header class="header">
    <div title class="title">
      Titulo del header
    </div>
    <div description class="description">
      descripción del header
    </div>
  </div>
  Contenido oculto
</app-accordion>

<app-accordion>
  <div header class="header">
    <div title class="title">
      Titulo del header
    </div>
    <div description class="description">
      descripción del header
    </div>
  </div>
  Contenido oculto
</app-accordion>

<app-accordion>
  <div header class="header">
    <div title class="title">
      Titulo del header
    </div>
    <div description class="description">
      descripción del header
    </div>
  </div>
  Contenido oculto
</app-accordion>

<app-accordion>
  <div header class="header">
    <div title class="title">
      Titulo del header
    </div>
    <div description class="description">
      descripción del header
    </div>
  </div>
  Contenido oculto
</app-accordion>

<app-accordion>
  <div header class="header">
    <div title class="title">
      Titulo del header
    </div>
    <div description class="description">
      descripción del header
    </div>
  </div>
  Contenido oculto
</app-accordion>
