.container {
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgb(228, 228, 228);
  padding: 20px;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  width: 50%;
  .paginator {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    &:first-child {
      background-color: rgba($color: red, $alpha: 0.2);
    }
    &:last-child {
      background-color: rgba($color: blue, $alpha: 0.2);
    }
  }
}
