<div class="container">
  <div appPaginator class="paginator">
    <app-page>
      contenedor 1 esto es el contenido de la pagina 1
    </app-page>
    <app-page>
      contenedor 1 esto es el contenido de la pagina 2
    </app-page>
    <app-page>
      contenedor 1 esto es el contenido de la pagina 3
    </app-page>
    <app-page>
      contenedor 1 esto es el contenido de la pagina 4
    </app-page>
  </div>
  <div appPaginator class="paginator">
    <app-page>
      Contenedor 2 esto es el contenido de la pagina 1
    </app-page>
    <app-page>
      Contenedor 2 esto es el contenido de la pagina 2
    </app-page>
    <app-page>
      Contenedor 2 esto es el contenido de la pagina 2
    </app-page>
  </div>
</div>
